.go-home-button {
  display: none;
}

@media only screen and (max-width: 900px) {
  .go-home-button {
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
    border: 1px black dotted;
    background-color: white;
  }
}