
.mobile-menu-container {
    display: none;
}

 @media only screen and (max-width: 900px) {
    .mobile-menu {
        &-container {
            display: block;
        }

        &-button {    
            border: none;
            margin: 20px 0;
            padding: 0;
            background: none;
    
            animation: fadein 2s;
    
            .line {
                width: 30px;
                height: 2px;
                background-color: black;
                margin: 5px 0;
            }
        }
    
        &-button:hover {
            cursor: pointer;
        }
    
        // menu open
        &-open-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 3;
            background-color: white;
            padding: 20px;
  
            .mobile-nav-container {
              position: absolute;
              bottom: 40px;
  
              .mobile-nav-items {
                  list-style-type: none;
                  padding: 0;
      
                  .primary-nav-header {
                      font-family: neue-haas-grotesk-display, sans-serif;
                      font-weight: 500;
                      font-size: 36px;
                      font-style: normal;
                      letter-spacing: 3px;
                      margin: 10px 0;
                  }
      
                  .secondary-nav-header {
                      letter-spacing: 3px;
                      margin-bottom: 10px;
                  }

                  .home-btn {
                    font-size: 40px;
                    margin-top: 60px;
                    border: none;
                    background: none;
                    padding: 0;
                  }
                }
            }
        }
    }
  
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}
