
.nav-container {
  margin-top: 50px;

  .nav-items {
    list-style-type: none;
    padding: 0;
  }

  .primary-nav-header h5 {
    letter-spacing: 1px;
    margin: 50px 0 10px;
  }

  .secondary-nav-header {
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .secondary-nav-header:hover {
    color: #3c3830;
    width: fit-content;
    text-decoration: underline dotted 1px;
    background-color: #FDFD96;
  }

  .about-me {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .nav-container {
    display: none;
  }
}