
.nav-container {
  margin-top: 50px;

  .nav-items {
    list-style-type: none;
    padding: 0;
  }

  .primary-nav-header h1 {
    letter-spacing: 1px;
    margin: 10px 0;
  }

  .secondary-nav-header {
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .secondary-nav-header:hover {
    color: red;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 900px) {
  .nav-container {
    display: none;
  }
}