.about-container {
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headline {
      line-height: 2.25rem;
      font-size: 24px;
      font-style: italic;
      margin: 2rem 0;
      max-width: 600px;
    }

    .copy {
      max-width: 600px;
      line-height: 1.25rem;
    }

    img {
      object-fit: cover;
      opacity: 95%;
      filter: grayscale(100%);
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .about-container {
    position: absolute;
    top: 69px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
  }
}