.app {
  padding: 50px 100px;
  display: grid;
  grid-template-areas: "side main main main";

  max-width: 1200px;
  margin: 0 auto;
}

.side-content {
  grid-area: side;
  margin-right: 20px;
  width: 250px;
}

.main-content {
  padding: 0 25px;
  grid-area: main;
}

@media only screen and (max-width: 900px) {
  .app {
    padding: 25px;
    grid-template-areas:
      "side"
      "main"
    ;
  }

  .side-content {
    width: 100%;
  }

  .main-content {
    padding: 0;
  }
}