.app {
  padding: 50px 100px;
  margin: 0 auto;
  
  display: grid;
  grid-template-areas: 
    "side main main main"
  ;

  max-width: 1200px;
  min-height: 100vh;
}

.side-content {
  grid-area: side;
  margin-right: 20px;
  width: 250px;

   &-container {
     height: 85vh;
     position: fixed;
     width: 250px;
   }
}

.main-content {
  padding: 0 25px;
  grid-area: main;
}

@media only screen and (max-width: 900px) {
  .app {
    padding: 25px;
    grid-template-areas:
      "side"
      "main"
    ;
  }

  .side-content-container {
    position: relative;
    height: auto;
  }

  .main-content {
    padding: 0;
  }
}