
.landing-container {
    //margin-top: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img-container img {
        // display: block;
        // max-width: 900px;
        //max-height: 600px;
        //width: auto;
        // height: auto;
        // width: 90%;
        // height: auto;
        object-fit: cover;
        width: 100%;   
        margin: 0 auto; 
    }

}



// @media only screen and (max-width: 900px) {
//     .landing-container {
//         .img-container img {
//             width: 100%;
//         }
//     }
//   }