
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img-container img {
        object-fit: cover;
        width: 100%;   
        margin: 0 auto; 
    }

}
