
.name-title-container {
  grid-area: "name-title";
  width: 250px;

  .pronouns, .title, .location {
      margin-top: 0;
      letter-spacing: 1px;
      font-size: 14px;
  }

  .name {
      font-family: neue-haas-grotesk-display, sans-serif;
      font-weight: 500;
      font-size: 20px;
      font-style: normal;
      margin: 0 0 40px;
      letter-spacing: 1px;
      cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .pronouns {
    margin: 70px 0 10px !important;
  }
}