
.name-title-container {
  grid-area: "name-title";
  width: 200px;

  .pronouns, .title, .location {
      margin-top: 0;
      letter-spacing: 1px;
  }

  .name {
      font-style: normal;
      margin: 0 0 10px;
      letter-spacing: 1px;
      cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .pronouns {
    margin: 70px 0 10px !important;
  }
}