
.name-title-container {
  .pronouns {
    font-size: 10px;
  }

  .pronouns, .title, .location {
      margin: 0 0 10px;
      letter-spacing: 1px;
  }

  .name {
      font-style: normal;
      margin: 0 0 10px;
      letter-spacing: 1px;
      cursor: pointer;
  }
}

@media only screen and (max-width: 900px) {
  .name {
    margin-top: 70px !important;
  }
}