
@media only screen and (max-width: 900px) {
  .photo-container {
    position: absolute;
    top: 69px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
  }
}