
.content-header {
  margin-top: 0; 
}

.content-divider {
  margin: 20px 0;
  border-bottom: 1px #303030 dotted;
}


.content-section {
  display: flex;
  max-width: 1000px;

  .content-label {
    width: 200px;
    flex: 0 0 200px;
  }

  .content-copy-wrapper { 
    display: block;

    img {
      max-width: 100%;
      margin: 1rem -2rem 0;
    }
  }

  .content-copy {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.25rem;
    max-width: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .content-section {
    display: block;
  }

  .content-copy-wrapper img {
    margin: 0 auto !important;
    text-align: center;
  }
}